figure {
  display: block;
  position: relative;
}

figure img {
  display: block;
}

figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: var(   --color-black-transparant);
  color: var(--color-light);
}
